@mixin font-size($font-size, $line-height: false) {
  @if not $line-height {
    font-size: rem($font-size);
  }
  @else if $line-height {
    font-size: rem($font-size);
    line-height: $line-height / $font-size;
  }
}
